# VSCode 
.vscode/

# Codex runtime state
# Ignore everything inside .codex
codex/.codex/*

# But keep these two files
!codex/.codex/AGENTS.md
!codex/.codex/config.toml

# sway when on multiple pc's
# sway/.config/sway/config
