[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:emaged/nvim-config.git
[submodule ".config/wezterm/wezterm-session-manager"]
	path = .config/wezterm/wezterm-session-manager
	url = https://github.com/danielcopper/wezterm-session-manager
